automatisation/ACIA.json
{
  "name": "ACIA",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        480
      ],
      "id": "b5c78db9-2a77-4037-80f2-424a9a7535a5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        480
      ],
      "id": "08f33ec6-0ab3-4440-aa28-7c924c63c6b2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d9ee908d-e21f-44aa-bd60-3e0e074becd8",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -128
      ],
      "id": "638db2d0-60a0-4b78-abba-26cd944b745b",
      "name": "Webhook",
      "webhookId": "d9ee908d-e21f-44aa-bd60-3e0e074becd8"
    },
    {
      "parameters": {
        "chatId": "1192253880",
        "text": "=Ok pour le webkook : {{ $json.body.data.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32,
        -128
      ],
      "id": "4e1967f8-6bbc-4e52-97d9-56bc5b285dc9",
      "name": "Send a text message",
      "webhookId": "79b8abc9-9dc0-4100-903f-3f3bf34c69d9",
      "credentials": {
        "telegramApi": {
          "id": "KVimL0GCFYIMGZxz",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "baa1bf98-316a-4672-854e-621b7a632e3b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f99e4bacff25fe9364fc9ad25ffcc65da744d938678b866488043d5aec02ee16"
  },
  "id": "zxWuooCgpXoSp1er",
  "tags": []
}